/* #region common */
body {
    font-family: "Roboto",
            sans-serif;
    color: #434455;
    background-color: #FFFFFF;
 }
h1, h2, h3, p {
    margin: 0;
} 
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}
/* #endregion common */
/* #region header */
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.page-header {
    border-bottom: 1px solid#e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px
}
.header-logo .part-logo {
    color: #2e2f42;
}
.footer-logo .part-logo {
    color: #f4f4fd;
}
.nav-header-list {
    display: flex;
    gap: 40px;
    align-items: center;
}
.nav-header-item:last-child {
    margin-right: 0;
}
.nav-header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-header-link.current {
    position: relative;
}
.nav-header-link.current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}
.contacts {
    font-style: normal;
}
.contacts-list {
    display: flex;
    gap: 40px;
    align-items: center;
}
.contacts-item {
    min-width: 153px;
}
.contacts-item:last-child {
    margin-right: 0;
}
.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-header-link:hover,
.nav-header-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-header-link.current {
    color: #404bbf;
}
/* #endregion header */
/* #region baner */
.main-baner {
    background-color: #2e2f42;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    
}
.main-title {
    margin: 0 auto 48px auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    display: block;
}
.main-button {
    background-color: #4d5ae5;
    cursor: pointer;
    height: 56px;
    min-width: 169px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}
.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}
.button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    white-space: nowrap;
}
/* #endregion baner */
/* #region Principals */
.feature {
    padding-bottom: 120px;
    padding-top: 120px;
}
.feature-list {
    display: flex;
    gap: 24px;
}
.feature-item:last-child {
    margin-right: 0;
}
.feature-item {
    width: calc((100% - 72px) / 4);
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
}
/* .icon-item {} */

.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.feature-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion Principals */
/* #region Team */
.team {
    background-color: #F4F4FD;
    padding-bottom: 120px;
    padding-top: 120px;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-self: center;
}
.team-item:last-child {
    margin-right: 0;
}
.team-item {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name-position {
    padding-top: 32px;
    padding-bottom: 32px;
}
.team-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.team-item-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.traling-icons  {
    width: 40px;
    height: 40px;
}
.social-icons-item {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-item:hover,
.social-icons-item:focus {
    background-color: #404bbf
}
.social-item {
    fill: #f4f4fd;
}
/* #endregion Team */
/* #region Portfolio */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 48px;
    column-gap: 24px; 
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .details {
    transform: translateY(0%);
}
.picture {
    position: relative;
    overflow: hidden;
}
.details {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
}
.container-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion Portfolio */
/* #region footer */
.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-container {
    margin-right: auto;
    display: flex;
    align-items: baseline;
    position: relative;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    width: 100%;
}
.page-footer .container {
    flex-direction: column;
}
.footer-description {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
.footer-social-icons {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    display: flex;
    gap: 16px;
}
.container-logo {
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.footer-traling-icons-social {
    width: 40px;
    height: 40px;
}
.footer-social-icon-item {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon-item:hover,
.footer-social-icon-item:focus {
    background-color: #31d0aa;
}
.footer-social-item {
    fill: #f4f4fd;
}
.footer-social {
    flex-direction: column;
}
.subsctibe-form {
    margin-left: auto;
    flex-direction: column;
}
.subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}
.form {
    display: flex;
    gap: 24px;
}
.subscribe-box {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #fff;
    margin-right: 24px;
}
/* .subscribe-box::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff; 
} */
.subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
   /* padding-top: 8px;
    padding-left: 24px;
    margin-left: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    white-space: nowrap;
    text-decoration: none; */
}
.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #404BBF;
}
.footer-submit-icon {
    margin-left: 16px;
}
/* #endregion footer */
/* #region modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    background-color:rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.modal-overlay:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}
.close-form-icon {
    /* margin: 8px;
    top: 24px;
    right: 24px;
    color: #2e2f42; */
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close {
    /*display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  /*  stroke-width: 1px; */
   /* background-color: rgba(0, 0, 0, 0.1); */
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #e7e9fc;
}
.close:hover,
.close:focus {
   background-color: #404BBF;
   border: none;
   fill: #FFFFFF;
}
.form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    /*padding: 72px 24px 16px;*/
    margin-bottom: 16px;
}
.contact-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 336px;
    /* gap: 8px; */
} 
.contact-input {
   /* position: absolute;
    top: 112px;
    left: 24px;
    border-radius: 4px;
    width: 360px;
    height: 336px; */
    margin-bottom: 8px;
} 
.contact-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
}
.input-box {
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 40px;
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
/*margin-top: 4px; */
}
.input-wrapper {
    position: relative;
    /*display: inline-block;*/
}
.input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /*pointer-events: none; */
}
.input-wrapper input {
    /*padding-left: 36px;*/
    font-size: 14px;
}
.input-wrapper:hover .input-icon,
.input-wrapper:focus .input-icon {
    fill: #4d5ae5;
}
.input-icon:hover,
.input-icon:focus {
    fill: #4d5ae5;
}
.input-box:hover,
.input-box:focus {
    border-color: #4d5ae5;
}
.input-box:focus + .input-icon {
    fill: #4d5ae5;
}
.contact-description {
    margin-bottom: 16px;
}
.input-box-comment {
    /* margin-top: 4px;
    padding-left: 16px; */
    padding: 8px 16px;
    height: 120px;
    width: 100%;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-box-comment:hover,
.input-box-comment:focus {
    border-color: #4d5ae5;
}
.input-box-comment::placeholder {
    font-weight: 400;
    /* font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em; */ 
}
.checkbox {
    /* position: absolute; */
    top: 368px;
    /*left: 24px; */
    display: flex;
    align-items: center;
    gap: 8px;
    width: auto;
    height: auto;
    cursor: pointer;
    margin-bottom: 24px;
}
.contact-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.accept {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    background-color: transparent;
}
.input-checkbox:checked + .contact-checkbox .accept {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
.policy {
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.send {
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}
/* #endregion modal */
  

